# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-appointments-management-fhir owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'gp-connect-appointments-management-fhir'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    Use this API to enable patients to book and manage patient appointments held in any of the principal GP practice systems.

    You can:

    * retrieve a patient’s appointments
    * search for free slots
    * read an appointment
    * book an appointment
    * cancel an appointment

    For example:

    * A patient can book, view, or cancel their own appointments.

    Note: You need to use this API in conjunction with the APIM API which will handle

    * Getting the patient details
    * Determining the patient's GP
    * Security protocols

    Add a fully fledged description here with markdown syntax.
    For help completing the content of your API spec, see our guidance on the minimum standard (bronze) details
    to include [here](https://nhsd-confluence.digital.nhs.uk/display/APM/Writing+a+bronze+API+cover+page). You should also base your content on our exemplar API - [PDS FHIR](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir).
    ## Who can use this API

    This API can be used by developers of clinical systems that support clinicians delivering direct care. It is not a patient-facing API.

    Before you start development, read the [Appointment Management](https://simplifier.net/guide/pfs-appointments?version=current) section of the GP Connect v1.2.7 specification, which includes Foundations, and the prerequisites listed below.

    ## Prerequisites

    Technical

    You must:

    * have access to the Health and Social Care Network (HSCN)

    * be Personal Demographics Service (PDS) compliant or capable of performing a PDS search via NHS Digital or a third-party provider

    Information governance (IG)

    You must:

    * be compliant with the GP Connect Direct Care API Information Governance Model

    * manage access to your system locally using local role-based access control (RBAC). This does not need to be compliant with the national RBAC model and GP Connect products do not require smartcards to control access, though they can be used if already implementedbe using the GP Connect APIs for direct care purposes for NHS patients in England

    Clinical safety

    You must:

    * have a clinical safety officer (CSO) who is responsible for DCB0129 and, if necessary, DCB0160. For more on clinical risk management, visit Clinical risk management standards

      If you are confident that you can meet the prerequisites, contact us to express your interest. See 'Onboarding' below.

    ## Related APIs

    The following APIs are related to this API:

    * Personal Demographics Service - FHIR API  – use this API to to look up the registered GP for the patient
    * Spine Directory Service - FHIR API  – access accredited system information and messaging endpoint details

    ## API status and roadmap

    This API (v1.0) is in [development, alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    ## Service level
    This API is a silver service, meaning it is operational 24 x 7 x 365 but only supported during business hours (8am to 6pm), Monday to Friday excluding bank holidays.

    For more details, see service levels.
    ## Technology
    This API is a FHIR API.

    It sends a FHIR STU3 payload over a Spine Server Proxy (SSP) transport.

    For more details, see FHIR.
    ## Network access
    You need a Health and Social Care Network (HSCN) connection to use this API.

    For more details, see Network access for APIs.
    ## Security and authorisation

    ### Security
    Access to the GP Connect APIs is controlled and protected by the Spine Secure Proxy (SSP), a forward HTTP proxy.

    It provides a single security point for both authentication and authorisation for consuming systems. Additional responsibilities include auditing of requests, checking data sharing agreements and transaction logging.

    All HTTP communications are secured using TLS MA. This includes both legs of the request, from consumer system to the proxy and then from the proxy to provider system.

    ### Authorisation
    Authorisation takes place in two locations:

    * the consumer system
    * the SSP

    The consumer system must have local RBAC in place and restrict GP Connect APIs to authorised users. With each request, a JSON Web Token (JWT) must be included with the following information:

    * details of users, including role
    * where smartcards are used in the consumer system, including SDS user and role IDs
    * details of the consumer system
    * details of the consumer’s organisation, including ODS code

    The information in the JWT is retained for audit purposes.

    The SSP checks data-sharing agreements to ensure that the consumer system is authorised to communicate with the provider system.
    ## Environments and testing

    | Environment   |URL    |
    |---|---|
    |Internet-facing demonstrator   | [https://orange.testlab.nhs.uk/](https://orange.testlab.nhs.uk/)  |
    | Opentest environment  |  [https://orange.testlab.nhs.uk/opentest.html](https://orange.testlab.nhs.uk/opentest.html) |
    | Integration (INT)	  |Provided during onboarding process   |


    ## Onboarding

    ## Expressing an interest

    If you meet the prerequisites and have a product that can integrate with GP Connect, you should express an interest with us by submitting a use case.

    The main purpose of the use case is to help us understand how you plan to use GP Connect APIs and the business issue you are looking to address. You should email your use case to us at gpconnect@nhs.net.

    Your use case should include the following information as a minimum:

    * the business problem you are intending to solve using GP Connect
    * how GP Connect will be used in practice to benefit patients and staff
    * which of the GP Connect products you will use to benefit patients and staff
    * any end user organisations you are currently working with
    * who your clinical safety officer is and, where available, your clinical risk management process documentation

    Once we receive your use case, we'll respond within 14 days.

    ## Consumer assurance process

    Once we approve your use case, we support you through the assurance process to go live. We will discuss the assurance process and artefacts with you to help you understand our requirements.

    ## Consumer assurance process with 4 gates

    Start your development work within 6 months of use case approval. If you miss this date, a review or new submission of the use case will be required. Changes or additional development will also require a review or new use case submission.

  contact:
    name: 'gp-connect-appointments-management-fhir API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/gp-connect-appointments-management-fhir'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/gp-connect-appointments-management-fhir'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/gp-connect-appointments-management-fhir'
    description: Production environment.
paths:
  ############################################################
# Read a patient's appointments
############################################################
  /Patient/{id}/Appointment:
    get:
      tags:
      - Appointment Management
      summary: Read a patient's appointments
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:patient_appointments-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Patient logical identifier
          x-example: '2'
          required: true
        - in: query
          name: start
          type: array
          collectionFormat: multi
          description: Appointment start/end dates
          items:
            type: string
          required: true
          default: ["ge2020-05-09", "le2020-05-19"]
      responses:
        '200':
          description: OK
        '400':
          description: Bad request


############################################################
# Search for free slots
############################################################
  /Slot:
    get:
      tags:
      - Appointment Management
      summary: Search for free slots
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:slot-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: query
          name: start
          type: string
          description: Slot start date/time
          x-example: 'ge2020-05-09'
          required: true
        - in: query
          name: end
          type: string
          description: Slot end date/time
          x-example: 'le2020-05-10'
          required: true
        - in: query
          name: status
          type: string
          description: Slot status
          enum: ['free']
          required: true
          default: 'free'
        - in: query
          name: _include
          type: string
          description: Include
          enum: ['Slot:schedule']
          required: true
          default: 'Slot:schedule'
        - in: query
          name: _include:recurse
          type: array
          collectionFormat: multi
          description: Include recurse
          items:
            type: string
            enum: ['Schedule:actor:Practitioner', 'Schedule:actor:Location', 'Location:managingOrganization']
        - in: query
          name: searchFilter
          type: array
          collectionFormat: multi
          description: Search filter
          items:
            type: string
            enum: ['https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|gp-practice', 'https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|urgent-care', 'https://fhir.nhs.uk/Id/ods-organization-code|A20047']
          default: 'https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|gp-practice'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Book an appointment
############################################################
  /Appointment:
    post:
      tags:
      - Appointment Management
      summary: Book an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:create:appointment-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.write",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: body
          name: body
          description: Appointment
          schema:
            type: object
            example:
              resourceType: "Appointment"
              meta:
                profile:
                  - "https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-Appointment-1"
              contained:
                - resourceType: "Organization"
                  id: "1"
                  meta:
                    profile:
                      - "https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1"
                  identifier:
                    - system: "https://fhir.nhs.uk/Id/ods-organization-code"
                      value: "GPC001"
                  name: "GP Connect Demonstrator"
                  telecom:
                    - system: "phone"
                      value: "0113 258 2569"
              status: "booked"
              created: "2018-11-14T14:31:55+00:00"
              description: "A test appointment booked through Interactive Swagger API"
              start: "2018-11-16T10:00:00+00:00"
              end: "2018-11-16T10:10:00+00:00"
              slot:
                - reference: "Slot/1"
              participant:
                - actor:
                    reference: "Patient/2"
                  status: "accepted"
                - actor:
                    reference: "Location/1"
                  status: "accepted"
              extension:
                - url: "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-GPConnect-BookingOrganisation-1"
                  valueReference:
                    reference: "#1"
          required: true
      responses:
        '201':
          description: Created
        '400':
          description: Bad request

############################################################
# Read an appointment
############################################################
  /Appointment/{id}:
    get:
      tags:
      - Appointment Management
      summary: Read an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:appointment-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Appointment logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Cancel an appointment
############################################################
    put:
      tags:
      - Appointment Management
      summary: Cancel an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:update:appointment-1'
          enum:
            - 'urn:nhs:names:services:gpconnect:fhir:rest:update:appointment-1'
            - 'urn:nhs:names:services:gpconnect:fhir:rest:cancel:appointment-1'
          description: SDS interaction identifier
          required: true
        # - in: header
        #   name: Content-type
        #   type: string
        #   default: 'application/json'
        #   description: SDS interaction identifier
        #   required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.write",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: body
          name: body
          description: Appointment
          schema:
            type: object
            example:
              resourceType: "Appointment"
              id: "3"
              meta:
                profile:
                  - "https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-Appointment-1"
              contained:
                - resourceType: "Organization"
                  id: "1"
                  meta:
                    profile:
                      - "https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1"
                  identifier:
                    - system: "https://fhir.nhs.uk/Id/ods-organization-code"
                      value: "GPC001"
                  name: "GP Connect Demonstrator"
                  telecom:
                    - system: "phone"
                      value: "0113 258 2569"
              status: "booked"
              created: "2018-11-14T14:31:55+00:00"
              description: "A test appointment booked through Interactive Swagger API"
              start: "2018-11-16T10:00:00+00:00"
              end: "2018-11-16T10:10:00+00:00"
              slot:
                - reference: "Slot/1"
              participant:
                - actor:
                    reference: "Patient/2"
                  status: "accepted"
                - actor:
                    reference: "Location/1"
                  status: "accepted"
              extension:
                - url: "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-GPConnect-BookingOrganisation-1"
                  valueReference:
                    reference: "#1"
          required: true
        - in: path
          name: id
          type: string
          description: Appointment logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
components:
  schemas: {}
